<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>

	  <div class="form-inputs">
	    <%= f.input :address %>
	    <%= f.input :description, label: 'Enter a brief description of your link' %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, class: "btn btn-primary" %>
	  </div>
<% end %>
