<%= simple_form_for(@link) do |f| %>
  <%= f.error_notification %>
	  <div class="form-inputs">
	    <%= f.input :address, label: 'URL address' %>
	    <%= f.input :linkname, label: 'Title (optional)' %>
	    <%= f.input :description, label: 'Enter a brief description of your link (optional)' %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, class: "btn btn-primary" %>
	  </div>
<% end %>
