<div class="row">
	<div class="span8 offset2">
			<% unless @link.linkname.blank? %>
			<h2>
				<%= @link.linkname %>
			</h2>
			<% end %>
			<div class="well">
			<p>
			  <%= link_to @link.address, url_with_protocol(@link.address), :target => '_blank', class: 'big-link' %>
			</p>

			<p>
			  <%= @link.description %>
			</p>
			<br />

			<% if current_user == @link.user %>
			<%= link_to 'Edit', edit_link_path(@link) %> |
			<% end %>
			<%= link_to 'Back', links_path %> |
			<%= link_to 'New', new_link_path %>
		</div>
	</div>
</div>